POSTGRES_DB=tpcc
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

HAMMERDB_IMAGE=tpcorg/hammerdb:latest
MATERIALIZED_IMAGE=materialize/materialized:latest
MATERIALIZE_SQL_PORT=6875

PG_SSLMODE=prefer
TPCC_USER=tpcc
TPCC_PASS=tpcc

TPROC_C_WAREHOUSES=
TPROC_C_VU=
TPROC_C_RAMPUP=2
TPROC_C_DURATION=5
TPROC_C_ALLWAREHOUSE=true
TPROC_C_PROFILEID=0
TPROC_C_UAW=0
